body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h1 {
  text-align: center;
  color: #d6336c;
  margin-bottom: 25px;
}

.poster img {
  width: 230px;
  border-radius: 10px;
  object-fit: cover;
}

.info {
  text-align: left;
  margin-bottom: 6px 0;
  font-size: 16px;
}

ul {
  text-align: left;
  margin: 0;
  width: fit-content;
  padding-left: 0;
  list-style-position: inside;
}

.Ringkasan p {
  text-align: left;
  background: #ffe6ef;
  padding: 12px;
  border-radius: 10px;
  border-left: 4px solid #ff8ab5;
  line-height: 1.5;
  margin-top: 15px;
}

footer {
  margin-top: 25px;
  color: #666;
}
