body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffdee9, #b5fffc);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
}

form {
  background: #ffffffcc (CC= 80% opacity);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  width: 400px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  background: #ff77a9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background: #ff5f97;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  background: #e9f9de;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #d6336c;
}

.container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.container button {
  width: 100%;
  padding: 12px;
  background: #d6336c;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.container button:hover {
  background: #a61e4d;
}

p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #d6336c;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

.username {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
